useDynLib(MVMR.CUE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(coda, as.mcmc, gelman.diag)
importFrom(glmnet, glmnet)
importFrom(MASS, mvrnorm)
importFrom(MendelianRandomization, mr_mvinput, mr_mvivw)
importFrom(mvtnorm, rmvnorm)
importFrom(quantreg, rq)
importFrom(R2jags, jags)
importFrom(robustbase, lmrob)
importFrom(stats, lm.fit, qchisq, qnorm, rnorm, runif, sd)
export(cv.mvmr_lasso)
export(genRaw)
export(mr_horse)
export(mvmr_horse)
export(mvmr_lasso)
export(mvmr_med_boot)
export(mvmr_median)
export(mvmr_robust)
export(MVMRCUE)
export(MVMRCUEfun)
export(MVMRCUEIndepSample)
export(MVMRCUEoverlapfun)
export(rcpparma_bothproducts)
export(rcpparma_hello_world)
export(rcpparma_innerproduct)
export(rcpparma_outerproduct)
